@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('/public/images/malevolent-shrine.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed; 
  background-color: #282c35; 
  height: 100vh;
  margin: 0; 
  padding: 20px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}


.neon-green {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #00ff00; 
  text-shadow: 0 0 10px #009900, 0 0 20px #009900, 0 0 30px #009900, 0 0 40px #009900, 0 0 70px #009900, 0 0 80px #009900, 0 0 100px #009900, 0 0 150px #009900;
}

.neon-blue {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #000080;
  text-shadow: 0 0 10px #87CEFA, 0 0 20px #87CEFA, 0 0 30px #87CEFA, 0 0 40px #87CEFA, 0 0 70px #87CEFA, 0 0 80px #87CEFA, 0 0 100px #87CEFA, 0 0 150px #87CEFA;
}

.neon-white {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #FFFFFF; 
  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF, 0 0 70px #FFFFFF, 0 0 80px #FFFFFF, 0 0 100px #FFFFFF, 0 0 150px #FFFFFF;
}

.neon-purple {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #9370DB; 
  text-shadow: 0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080, 0 0 40px #800080, 0 0 70px #800080, 0 0 80px #800080, 0 0 100px #800080, 0 0 150px #800080; /* Purple shadow */
}


